# Ignore all temporary output files in Ai_forensic_tool/output
#Ai_forensic_tool/output/tmp*.png

# Optionally, ignore everything in output folder (if you don't want to track any outputs)
Ai_forensic_tool/output/
